.rules-title {
  font-size: 60px;
  color: #808080;
  padding: 50px 100px;
}

.rule-book {
  padding: 0% 10%;
  color: #808080;
  font-size: 25px;

  @media(max-width: 576px) {
    font-size: 20px;
  }

  @media(min-width: 576px) and (max-width: 768px) {
    font-size: 20px;
  }

  @media(min-width: 768px) and (max-width: 992px) {
    font-size: 22px;
  }

  @media(min-width: 992px) and (max-width: 1200px) {
    font-size: 24px;
  }
}

.rules-line {
  width: 80vw;
  text-align: justify;

  @media(max-width: 576px) {
   
  }

  @media(min-width: 576px) and (max-width: 768px) {
    
  }

  @media(min-width: 768px) and (max-width: 992px) {
   
  }

  @media(min-width: 992px) and (max-width: 1200px) {

  }

  @media(min-width: 1200px) {

  }
}